extends layout

block content
    .row
        .col-lg-12
            h1 Loc8r
                small(style="font-size:24px") &nbsp;Find places to work with wifi near you!

    .row
        .col-xs-12.col-sm-8
            .list-group
                a.list-group-item.list-group-item-action.flex-column.align-items-start(href="/location")
                    .d-flex.w-100.justify-content-between
                        h5.mb-1 Starcups
                        small 
                            span.badge.badge-info 100m
                    p.rating.text-warning
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.far.fa-star
                        i.far.fa-star                        
                    p.mb-1 address 125 High Street, Reading, RG6 1PS 
                    p
                        span.badge.badge-warning Hot drinks 
                        &nbsp; 
                        span.badge.badge-warning Food
                        &nbsp;
                        span.badge.badge-warning Premium wifi
                a.list-group-item.list-group-item-action.flex-column.align-items-start(href="/location")
                    .d-flex.w-100.justify-content-between
                        h5.mb-1 Starcups
                        small 
                            span.badge.badge-info 100m
                    p.mb-1 address 125 High Street, Reading, RG6 1PS 
                    p
                        span.badge.badge-warning Hot drinks 
                        &nbsp; 
                        span.badge.badge-warning Food
                        &nbsp;
                        span.badge.badge-warning Premium wifi
        .col-xs-12.col-sm-4
            p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.
            